@{
    ViewBag.Title = "Dashboard";
    ViewBag.Css = "dashboard.css";
    ViewBag.Favicon = "dashboard.svg";
}

<section class="main">
    <div class="title-content">
        <h1 class="title">Alejandría's Library</h1>
    </div>

    <div class="btns">
        <a class="btn btn-dark" asp-area=""  asp-controller="Prestamos" asp-action="Index">Gestion de Prestamos</a>
        <a class="btn btn-dark m-2" asp-area=""  asp-controller="Libros" asp-action="Index">Libros</a>
        <a class="btn btn-dark" asp-area=""  asp-controller="Usuarios" asp-action="Index">Gestion de Usuarios</a>
        <div class="down">
            <a class="btn btn-dark" asp-area=""  asp-controller="Usuarios" asp-action="Index">Historial de Prestamos</a>
        </div>
    </div>
</section>