@{
    ViewBag.Title = "Eliminar Usuario";
    ViewBag.Css = "usuarios.css";
    ViewBag.Favicon = "usuarios.svg";
}

<div class="route container mt-3">
    <a asp-area="" asp-controller="Usuarios" asp-action="Index">Inicio</a>
    <p>Eliminar Usuario</p>
</div>

<div class="main-show">
    <h3>El usuario se ha eliminado con éxito</h3>

    <a class="btn btn-primary" asp-area="" asp-controller="Usuarios" asp-action="Index">Volver</a>
</div>