@{
    ViewBag.Title = "Usuarios";
    ViewBag.Favicon = "usuarios.svg";
}

<section class="main container mt-5">
    <div class="route">
        <a asp-area="" asp-controller="Dashboard" asp-action="Index">Inicio</a>
        <p>Gestión de Usuarios</p>
    </div>

    <div class="title">
        <h2>Usuarios</h2>
    </div>

    <div class="menu d-flex justify-content-between align-items-center mt-3">
        <div class="row align-items-center mt-2 mb-2">
            <div class="col-auto">
                <label for="search" class="col-form-label">Buscar: </label>
            </div>

            <div class="col-auto">
                <input type="text" id="search" class="form-control" placeholder="Usuario">
            </div>
        </div>
        <a class="btn btn-success" asp-area="" asp-controller="Usuarios" asp-action="Create">Crear nuevo Usuario</a>

    </div>

    <table class="table table-dark table-striped mt-3">
        <thead>
            <td>Nombres</td>
            <td>Apellidos</td>
            <td>Dirección</td>
            <td>Teléfono</td>
            <td>Correo</td>
            <td>Acciones</td>
        </thead>
        <tbody>
            <tr>
                <td>Alejo</td>
                <td>Ruiz</td>
                <td>Calle 22 # 22-B 22</td>
                <td>305 784 2312</td>
                <td>alejo@gmail.com</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-area="" asp-controller="Usuarios" asp-action="Show">Detalles</a>
                    <a class="btn btn-sm btn-warning" asp-area="" asp-controller="Usuarios" asp-action="Edit">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-area="" asp-controller="Usuarios" asp-action="Delete">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>Juanky</td>
                <td>Herrera</td>
                <td>Calle 11 # 11-A 11</td>
                <td>317 561 1223</td>
                <td>juanky@gmail.com</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-area="" asp-controller="Usuarios" asp-action="Show">Detalles</a>
                    <a class="btn btn-sm btn-warning" asp-area="" asp-controller="Usuarios" asp-action="Edit">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-area="" asp-controller="Usuarios" asp-action="Delete">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>Pedro</td>
                <td>Alcázar</td>
                <td>Calle 40 # 10-C 7</td>
                <td>302 741 4862</td>
                <td>pedro@gmail.com</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-area="" asp-controller="Usuarios" asp-action="Show">Detalles</a>
                    <a class="btn btn-sm btn-warning" asp-area="" asp-controller="Usuarios" asp-action="Edit">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-area="" asp-controller="Usuarios" asp-action="Delete">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
