@{
    ViewBag.Title = "Eliminar Libro";
    ViewBag.Css = "usuarios.css";
    ViewBag.Favicon = "libros.svg";
}

<div class="route container mt-3">
    <a asp-area="" asp-controller="Usuarios" asp-action="Index">Inicio</a>
    <p>Eliminar Libro</p>
</div>

<div class="main-show">
    <h3>El Libro se ha eliminado con éxito</h3>

    <a class="btn btn-primary" asp-area="" asp-controller="Libros" asp-action="Index">Volver</a>
</div>