@{
    ViewBag.Title = "Eliminar Registro";
    ViewBag.Css = "usuarios.css";
    ViewBag.Favicon = "prestamos.svg";
}

<div class="route container mt-3">
    <a asp-area="" asp-controller="Usuarios" asp-action="Index">Inicio</a>
    <p>Eliminar Registro de Prestamo</p>
</div>

<div class="main-show">
    <h3>Registro de prestamo eliminado con éxito</h3>

    <a class="btn btn-primary" asp-area="" asp-controller="Prestamos" asp-action="Index">Volver</a>
</div>