@{
    ViewBag.Title = "Eliminar Historial del Prestamo";
    ViewBag.Css = "usuarios.css";
    ViewBag.Favicon = "historial.svg";
}

<div class="route container mt-3">
    <a asp-area="" asp-controller="Historial" asp-action="Index">Inicio</a>
    <p>Eliminar Registro de Prestamo</p>
</div>

<div class="main-show">
    <h3>Historial de prestamo eliminado con éxito</h3>

    <a class="btn btn-primary" asp-area="" asp-controller="Historial" asp-action="Index">Volver</a>
</div>