@{
    ViewBag.Title = "Editar Historial del Prestamo";
    ViewBag.Css = "usuarios.css";
    ViewBag.Favicon = "historial.svg";
}

<div class="route container mt-5">
    <a asp-area="" asp-controller="Historial" asp-action="Index">Inicio</a>
    <p>Editar Historial del Prestamo</p>
</div>

<section class="main-show">
    <form class="form">
        <div class="mb-3">
            <label for="lastname" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="lastname" value="Pedro">
        </div>
        
        <div class="mb-3">
            <label for="address" class="form-label">Libro:</label>
            <input type="text" class="form-control" id="address" value="El cuervo">
        </div>

        <div class="mb-3 m-auto">
            <label for="email" class="form-label">Fecha de devolucion:</label>
            <input type="date" class="form-control" id="email" value="2024-04-04">
        </div>
    </form>

    <a class="btn btn-success" asp-area="" asp-controller="Historial" asp-action="Index">Actualizar</a>
</section>