@{
    ViewBag.Title = "Informe prestamos";
    ViewBag.Css = "historial.css";
    ViewBag.Favicon = "historial.svg";
}

<div class="route container mt-5">
    <a asp-area="" asp-controller="Usuarios" asp-action="Index">Inicio</a>
    <p>Informe de Prestamos</p>
</div>

<section class="main-show">
    <div class="info">
        <div class="books">
            <h4>Libros</h4>
            <p><strong>Cantidad de libros prestados: </strong>1</p>
            <p><strong>Libro más prestado: </strong>El cuervo</p>
            <p><strong>Libro menos prestado: </strong>Cien años de soledad</p>
            <p><strong>Autor con más libros prestados: </strong>Edgar Allan Poe</p>
            <p><strong>Autor con menos libros prestados: </strong>Gabriel García Márquez</p>
        </div>

        <div class="users">
            <h4>Usuarios</h4>
            <p><strong>Cantidad de usuarios: </strong>3</p>
            <p><strong>Usuarios con multas: </strong>0</p>
            <p><strong>Usuarios con renovaciones: </strong>0</p>
        </div>
    </div>
    
    <div class="usuarios">
        <a class="btn btn-primary" asp-area="" asp-controller="Historial" asp-action="Index">Volver</a>
    </div>
</section>
