body {
    background-image: url(https://miro.medium.com/v2/resize:fit:1200/1*4-H9L_CZAEqNiZmmfL9dzQ.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60dvh;
}

.title-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .title {
        color: #fff;
        background-color: #000000a9;
        padding: 10px;
        border-radius: 10px;
    }
}
